.DS_Store
.vscode/

<div class="page-content">
        <section id="featured" class="content-section">
            <div class="section-heading"><br><br><br>
                <h1><em>Services</em></h1><br>
                <p><br></p>
            </div>
            <div class="section-content">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="image">
                            <img src="gallery_pic\images - Amrita Singh(3).jpeg" alt="">
                            <div class="featured-button button">
                                <a href="#projects">Continue Reading</a>
                            </div>
                        </div>
                        <div class="text-content">
                            <h4>Anniversary Party Balloon<br> Decorators </h4>
                            <span></span>
                            <p>We arrange impeccable balloon decors for your anniversary parties.</p>
                        </div>
                    </div>